html, body {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
}

body {
    margin: 0;
}


h1 {
    font-family: 'cover by your grace', cursive!important;
    font-size: 58px !important;
}

h2, h4 {
    font-family:'Covered By Your Grace', cursive !important;
    font-size: 32px !important;
    color: #000 !important;
}


.button {
		font-family: 'Covered By Your Grace', cursive;
		background-color: #06d500;
		border-radius: 0;
		overflow: visible;
		text-transform: none;
		color: #fff;
		font-size: 20px;
}

/* Sections & Container */
.section {
	width: 100%;
	height: 700px;
	margin: 0;
    padding: 50px 0;
}



.container {
    height: 500px;
    width: 90;
    padding: 50px 15px;
    margin-right: auto;
    margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    display: inline-block;
    width: 50%;  
}
.right {
    display: inline-block;
    width: 50%;
}
.full {
    display: block;
    width: 100%;
}

.about {
	background-color: #f8f8f8;
}
.spots {
	background-color: #fff;
}
.events {
	background-color: #f8f8f8;
}
.blog {
	background-color: #fff;
}
.newsletter {
	background-color: #f8f8f8;
}
.banner {
    height: 800px;
    background-image: url(../images/test.jpg); /*nichlas-andersen-415226-unsplash.jpg*/
    background-repeat: no-repeat;	
    background-size: cover;
	background-attachment: fixed;
}




/* Banner */

.top-right {
    font-family: 'Covered By Your Grace', cursive;
    text-align: right;
    color: #fff;
    font-size: 52px;
	background-size: cover;	
}


.container .hero {
    text-align: center;
    color: white;
}



/* About us */

.about-img {
    width: 100%;
    height: auto;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
}
.about-text p {
    text-align: left;
}
.about-text h4 {
    margin-bottom: 20px;
}


/* Spots (Slidegalerie)*/

.slide {
    height: auto !important;
}

.section spots {
    padding: 0px !important;
}

.w-100 {
    height: 700px;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    padding: 150px 20px;
    border-radius: 0;
    width: 40% !important;
    height: 100%;
}

/* Events*/
#sec3 {
	padding: 20px 0 0 0 ;
}

.Eventkalender {
    display: block;
    padding: 5px 20px;
    margin-top: 5px;
    color: #777;
} 

.Event {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 10px 0;
    border: 1px solid #d1d1d1;
    padding-left: 5px;
    transition: all 0.3s ease 0s;
    background-color: #fff;
}

.Event h5 {
    color: #000;
    margin-top: 5px;
}

.Event:hover {
    transform: translateY(-7px);
    box-shadow: 1px 2px 18px #888888;
}

.Event-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
}
.Event-text p {
    text-align: left;
}
.Event-text h4 {
    margin-bottom: 20px;
}


/* Blog */
#sec4{
	height: 730px;
}
.block-img {
    width: 100%;
    height: auto;
    padding: 20px 30px 0 20px;
}

.blog-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.blog-vorschau {
    display: block;
    padding: 5px 20px;
    margin-top: 5px;
    color: #777;
} 
.blog-eintrag {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 20px 0;
    padding-left: 5px;

}

.blog-eintrag a {
	color: #000;
    text-decoration-color: #777;
}

/* Newsletter*/
#sec5 {
	height: 730px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
	background-image: url(../images/IMG_4730.JPG);
    background-repeat: no-repeat;	
    background-size: cover;
	background-attachment: fixed;
}
.newsletter h6 {
    margin-bottom: 10px;
	color: white;	
}
.newsletter h2 {
	color: white !important;
}

.input {
    padding: 0px 80px;
    color: #d1d1d1;

}
/* -----START Responsive---------------------------------------------------------------------------------------------------------------- */

/* Desktop Responsive*/
@media only screen and (min-width: 992px) {
    .about-img {
        width: 700px;
        height: auto;
        margin-right: -200px;
        padding: 0px 0 30px 20px;
    }
    
    .about-text {
        background-color: #fff;
        box-shadow: 1px 2px 18px #888888;
        z-index: 10;
    }
    
    .slide-text {
        width: 60%;
        margin-top: -100px;
        z-index: 100
    }
    
    
}




/* Tablet Responsive */
@media only screen and (max-width: 992px) {
    
    
    .blog-img {
        width: 50%;
    }
    
    .footer {
        flex-direction: column;
        height: auto !important;

    }
    
    .footer-row {
    display: block !important;
    align-self: center;
    width: 100% !important;
    text-align: center !important;
    margin-top: 20px;
    }
    
    
}

/* Mobile Responsive */

@media only screen and (max-width: 768px) {
    
    .section {
        height: 1000px;
    }
    .container {
        flex-direction: column;
        height: 1000px;
    }
    .full {
        height: 100%;
    } 

    .left, .right {
        width: 100%;
    }
    
    #sec5 {
		height: 600px;
	}
    #sec1 {
        height: 1000px;
    }
	#sec2 {
		height: 400px;
	}
	#sec3{
		height: 1100px;
	}
	#sec4{
		height: 1100px;
	}

    .banner {
        height: 500px !important;
    }
    h1 {
        font-size: 32px !important;
    }
    
    h2 {
        font-size: 38px;
    }
    
    img {
        width: 40%;
    }
    

    .top-right {
        top: 30%;
        font-size: 36px;

    }
    
    




 


     
     /*START Slides*/


.w-100 {
    height: 400px;
}

    
  .card {
        padding: 20px 0px;
    }  
    
    /*START Events*/

    .Event-text {   
    display: block;
    padding: 50px;
	margin-top: 50px;
}

	

/* END Events */
    
}










/*----------- Start Footer--------- */

.footer { 
    display: flex;
    align-content: stretch;
    width: 100%;
    background-color: #fff;
    color: #777;
    text-align: center;
	height: 250px;
}



.footer-row {
    display: inline-block;
    width: 20%;
    text-align: left;
}
.footer-row h5{
    color: #000;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;
}

.footer-row ul li {
    list-style: none;
    padding: 2.5px;
    font-size: 12px;
}

.footer-row a {
    color: #000;
    text-decoration-color: #777;
}

.copyright {
    text-align: center; 
    font-size: 12px;
    padding: 10px 0;
    font-family:'cover by your grace', sans-serif;
}